<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<!-- Enable some custom fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto|Reem+Kufi" rel="stylesheet" type="text/css">

<!-- Enable MathJax support -->
<script>
MathJax = {
    tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
};
</script>
<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>